<!-- Google GTM DataLayer Code -->
<script>
  window.dataLayer = window.dataLayer || [];
  dataLayer.push({
    'ecommerce': {
      'purchase': {
        'actionField': {
          'id': '{{ checkout.id }}',                         // Transaction ID. Required for purchases and refunds.
          'affiliation': 'Online Store',
          'revenue': '{{ checkout.total_price | times: 0.01 }}',                     // Total transaction value (incl. tax and shipping)
          'tax':'{{ checkout.tax_price | times: 0.01 }}',
          'shipping': '{{ checkout.shipping_price | times: 0.01 }}',
          'coupon': '{% for discount in checkout.discounts %}{{ discount.code }} {% endfor %}'
        },
        'products': [
        {% for item in checkout.line_items %}
        {                            // List of productFieldObjects.
          'name': '{{item.title}}',
          'id': '{{ item.product_id }}_{{ item.variant.id }}',
          'price': '{{ item.line_price | times: 0.01 }}',
          'brand': '{{ item.vendor }}',
          'category': '{{ item.product.type }}',
          'variant': '{{ item.variant.title }}',
          'quantity': {{ item.quantity }}
         },
         {% endfor %}
         ]
      }
    },
    "pageType": "ThankYouPage",
    {% if customer %}
    "customerId": "{{ customer.id }}",
    "customerEmail": "{{ customer.email }}",
    {% endif %}
    "sessionId": getCookie("__ssid"),
    "store": "{{ shop.name }}",
    "device": siteType,
    "cartData": [
    {% for item in checkout.line_items %}
    {
    id: '{{ item.product_id }}_{{ item.variant.id }}',
    sku: '{{item.sku}}',
    name: '{{item.title}}',
    category: '{{ item.product.type }}',
    price: {{ item.line_price | times: 0.01 }},
    quantity: {{item.quantity}}
  	},
   	{% endfor %}
   	],
    "orderTotal": {{ checkout.total_price | times: 0.01 }},
    "orderNumber" :   "{{ checkout.order_name }}" ,
    {% if customer %}
    {% if customer.orders_count > 1 %}
      "newCustomer" :   "0",
    {% else %}
      "newCustomer" :   "1",
    {% endif %}
    {% else %}
      "newCustomer" :   "1",
    {% endif %}
  });

  function getCookie(name) {
    var value = "; " + document.cookie;
    var parts = value.split("; " + name + "=");
    if (parts.length == 2) return parts.pop().split(";").shift();
  }
</script>
<!-- Google GTM DataLayer Code Ends -->